apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-2-deployment
  labels:
    app: nginx-2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-2
  template:
    metadata:
      labels:
        app: nginx-2
    spec:
      containers:
        - name: nginx-2
          image: nginx-2:latest
          imagePullPolicy: Never   # force local image
          ports:
            - containerPort: 5000