
global:
  image:
    tag: v2.13.0   
  securityContext:
    runAsNonRoot: true
    runAsUser: 999

server:
  replicas: 1
  resources:
    requests:
      cpu: 150m
      memory: 500Mi
    limits:
      cpu: 250m
      memory: 1Gi
  ingress:
    enabled: false
controller:
  replicas: 1
  resources:
    requests:
      cpu: 250m
      memory: 250Mi

repoServer:
  replicas: 1
  resources:
    requests:
      cpu: 250m
      memory: 250Mi

redis:
  ha:
    enabled: true

configs:
  params:
    server.insecure: true
  cm:
    timeout.reconciliation: 180s 
