apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-1-deployment
  labels:
    app: nginx-1
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx-1
  template:
    metadata:
      labels:
        app: nginx-1
    spec:
      containers:
        - name: nginx-1
          image: nginx-1:latest
          imagePullPolicy: Never   # force local image
          ports:
            - containerPort: 5000